<!DOCTYPE html>
<html>
    <head>
        <title>Credit Card Fraud Detection</title>
<!--         <style>
            .heading{
                color:#A0A0A0;
                font-family:system-ui;
                font-size: 30px;
                text-align: center;
            }
            html{
                height:100%;
                background:linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
            }
        </style>
 -->
    </head>
    <body>

        <div class="container" allign = 'left' >
            <a href="/credit_csv_result" target="blank"><button class='btn btn-default'>Download!</button></a>
       </div>


    </body>
</html>
