<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCFD</title>
    <link href="{{ url_for('static', filename='css/credit.css') }}" rel="stylesheet">
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CCFD</title>
    </head>
    <body>
        
    </head>
    <body>
        <h1>Welcome to Credit Card Fraud Detection Prediction Page</h1>
       
        <h3>Enter the details</h3>
        <div class="container">
            <form action="/credit_predict" method="POST">
              <div class="row">
                <div class="col-25">
                  <label for="text">V3</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v3" name="v3" placeholder="Enter the v3 value" >
                </div>
               
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="text">V4</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v4" name="v4"placeholder="Enter the v4 value">
                </div>
               
              </div>
              <div class="row">
              
              
              <div class="row">
                <div class="col-25">
                  <label for="text">V9</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v9" name="v9" placeholder="Enter the v9 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V10</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v10" name="v10" placeholder="Enter the v10 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V11</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v11" name="v11" placeholder="Enter the v11 value">
                </div>
               
              </div>


              <div class="row">
                <div class="col-25">
                  <label for="text">V12</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v12" name="v12" placeholder="Enter the v12 value">
                </div>
               
              </div>

              
              
              <div class="row">
                <div class="col-25">
                  <label for="text">V14</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v14" name="v14" placeholder="Enter the v14 value">
                </div>
               
              </div>

             

              <div class="row">
                <div class="col-25">
                  <label for="text">V16</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v16" name="v16" placeholder="Enter the v16 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V17</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v17" name="v17" placeholder="Enter the v17 value">
                </div>
               
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="text">V18</label>
                </div>
                <div class="col-75">
                  <input type="text" id="v18" name="v18" placeholder="Enter the v18 value">
                </div>
               
              </div>

             

             

            

            

            
       
            </form>
            <div class="row">
                <input type="submit" value="Submit">
              </div>
          </div>
    </body>
    </html>
    
</body>
</html>